<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Skill Boost Hub</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
  <link rel="stylesheet" th:href="@{/fonts/simple-line-icons.min.css}">
  <style>
    #google_translate_element {
      position: fixed;
      top: 10px;
      right: 10px;
    }
    .table th, .table td {
      overflow: visible;
      white-space: nowrap;
      width: auto;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" th:href="@{/}">Skill Boost Hub</a><button data-bs-toggle="collapse"
                                                                                       class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
      <p th:text="${#httpSession}"></p>
      <div class="collapse navbar-collapse" id="navcol-1" th:if="${#httpSession == null}">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/student/login}">Login</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/student}">Signup</a></li>
          </ul>
      </div>
    <div class="collapse navbar-collapse" id="navcol" th:if="${#httpSession != null}">
        <ul class="navbar-nav ms-auto" th:if="${#httpSession.getAttribute('role') == 'STUDENT'}">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/}">My Courses</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
        </ul>
        <ul class="navbar-nav ms-auto" th:if="${#httpSession.getAttribute('role') == 'INSTRUCTOR'}">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/all-course}">Courses</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Enrolments</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
        </ul>
        <ul class="navbar-nav ms-auto" th:if="${#httpSession.getAttribute('role') == 'ADMIN'}">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course}">Create Course</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Enrolments</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
        </ul>
    </div>
  </div>
</nav>