<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Skill Boost Hub - My Courses</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/fonts/simple-line-icons.min.css}">
</head>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" th:href="@{/}">E-learning Platform</a><button data-bs-toggle="collapse"
                                                                                                  class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navcol-1" th:if="${session.studId == null}">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student/login}">Login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student}">Signup</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navcol" th:if="${session.studId != null}">
            <ul class="navbar-nav ms-auto" th:if="${session.role == 'STUDENT'}">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course_enrolment/my-enrol}">My Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
            </ul>
            <ul class="navbar-nav ms-auto" th:if="${session.role == 'INSTRUCTOR'}">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Enrolments</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
            </ul>
            <ul class="navbar-nav ms-auto" th:if="${session.role == 'ADMIN'}">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course}">Create Course</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/course/all-course}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Enrolments</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/student/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
<main class="page landing-page">
    <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">My courses</h1>
            </div>
        </div>
    </section>
    <div th:if="${param.success}" class="alert alert-success">
        Request succeed
    </div>
    <div th:if="${param.fail}" class="alert alert-danger">
        Request failed
    </div>
    <section class="container">
        <div class="row mt-2 mb-5 gap-4">
            <div class="col-xl" th:each="course :${courseEnrolmentList}">
                <div class="card shadow-sm">
                    <img th:src="${course.course.courseImgUrl}" class="bd-placeholder-img card-img-top" alt="image" />
                    <div class="card-body">
                        <h3 th:text="${course.course.courseName}"></h3>
                        <p class="card-text" th:text="${course.course.description}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary" th:text="${course.course.eskill}"></small>
                        </div>
                        <a th:href="@{/course/{courseId}/content(courseId=${course.course.courseId})}" class="card-link">Detail</a>
                        <div th:if="${session.studId != null && course.estatus == 'ENROLLED'}">
                            <a th:href="@{/course_enrolment/{courseEnrolId}/un-enrol(courseEnrolId=${course.courseEnrolId})}" class="card-link text-danger">Un-Enrol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>